%PERSON
Dread Quixadhal
Chris Rand
Chris Oliver
All Those Chris's
Shawn Witzki
Fred Ochs
Don Weber
Brian Stempien
Chadness
LjP
Jeff Kenward
William Hartnell
Patrick Troughton
Jon Pertwee
Tom Baker
Peter Davison
Colin Baker
Sylvester McCoy
Roger Delgado
Anthony Ainley
William Shatner
Leanord Nimoy
DeForest Kelley
James Doohan
George Takei
Walter Koenig
Nichelle Nichols
That Meshkin Guy
The Web Man
Random Man
Maggie Thatcher
George Bush
Bugs Bunny
Donny Boy
%RUNNING
screwing up
dematerializing
running
controlling
buggering up
co-ordinating
organising
ignoring
being stupid about
%ILL
vomit
laugh
cry
weep
throw up
nausiated
want to puke my guts out
sick
want to die when I just look at you
go find your mother and...
kick your stinking little butt
become a genetic manipulator
%PATHETIC
pathetic
paltry
laughable
inneffective
useless
timewasting
interfering
idiotic
moronic
as good as dead
%THINGS
degenerates
reprobates
idiots
tiolet-cleaners
miscreants
freeloaders
drunkards
Conservative voters
TARDIS-cleaners
incompetents
shit-hoarders
beggers of drain hair
lickers of shady places
kissers of sunless spots
suckers of tiny pricks
%GIVEUP
fly your armies into the water
eat your TARDIS
burn your capital
relocate your capital
get rid of all those stupid farms
build lots of churches and start praying
wait for the black plague
let them eat cake
go fondle some more sheep
go fondle some more sheep
go marry a shepherd
go marry a sheep
take your sheep and get the hell out of here
%SOLDIERS
troops
warriors
slimeballs
people
puny peasants
sheep
sheep-lovers
people with heads up their butts
%RUDETHING
killing children
screwing innocent donkeys
raping innocent peasants
raping not-so-innocent peasants
raping wild lesbian nymphomaniacs
stamping on ants
sleeping
drinking urine
sweeping the floor
licking my ass
raping sheep
raping shepherds
%POWERS
magic powers
combat powers
civilian powers
combat bonuses
armies
shrubberies
knights who say 'Ni'
Power Switches
%ANATOMY
private parts
place where the sun don't shine
face
double chin
beer gut
foot
leg
elbow
arm
head
bottom
libido
little tiny thing you brag about
little tiny thing you don't know how to use
%THING{a}
{|a }bucket
{|an }oven
{|a }milling machine
{|a }vat of acid
{|a }bottomless pit
{|a }vorpal sword
{|an }abacus
{|a }large purple elephant
{|a }sheep
{|a }pig
{|an }albatross
{|a }dodo
{|an }IBM PC
%DESTROYED
destroyed
decimated
happy
holding a free rock festival
giving away all its money
committing suicide
changing its password
more careful
less cautious
a bit more bloody respectful
%THOUGHT
told me
thought
said
insisted
suspected
were certain
%DOING
drafting an army of gorillas
drafting an army of chimpanzees
running out of food
flying into the sea
headbanging all night
on the road to ruin
really being stupid
being amazingly thick
%ACTION
find your asshole
swat a fly
hit the broadside of a barn
stop a slug
kill a dead man
%MAIN
Even \PERSON could make a better job of \RUNNING your nation! \!
You really make me \ILL! \!
What a \PATHETIC nation of \THINGS you have! \!
If I were you I'd \GIVEUP. \!
You probably couldn't \ACTION with \THING/a. \!
Your \SOLDIERS are only good at \RUDETHING. \!
What a \PATHETIC collection of \POWERS you've got. \!
Go stick your \ANATOMY up \THING/a \!
Your nation should be \DESTROYED. \!
My spies \THOUGHT you were \DOING! \!
%%
